.Grid {
	width: 100%;
	padding-left: 5rem;
	padding-right: 5rem;
	justify-content: center;
	gap: "0";
}

#micon {
	width: 3.5rem;
	height: 3.5rem;

	/* background-color: transparent; */
}

@media screen and (max-width: 1200px) {
	.Grid {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}


